<div class="show_area">
    <div class="show_item"><img class="show_img" src="/assets/show1.jpg"></div>
    <div class="show_item"><img class="show_img" src="/assets/show2.jpg"></div>
    <div class="show_item"><img class="show_img" src="/assets/show3.jpg"></div>
</div>

<script>
$(function() {
    $('.show_area').slick({
        dots: true,
    });
});
</script>