<!------ スライドショー ------>
<p id="slideshow">
   <img src="/assets/sunset1.jpg" alt="画像1" class="active">
   <img src="/assets/sunset2.jpg" alt="画像2">
   <img src="/assets/sunset3.jpg" alt="画像3">
   <img src="/assets/sunset4.jpg" alt="画像4">
   <img src="/assets/sunset6.jpg" alt="画像6">
</p>

<script type="text/javascript">
function slideSwitch() {
   var $active = $('#slideshow img.active');

   if ( $active.length == 0 ) $active = $('#slideshow img:last');

   var $next =  $active.next().length ? $active.next()
      : $('#slideshow img:first');

   $active.addClass('last-active');

   $next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 4000, function() {
           $active.removeClass('active last-active');
      });
}

$(function() {
   setInterval( "slideSwitch()", 7000 );
});
</script>

<p>日本の夏には欠かせない夜空を彩る打ち上げ花火<br>
   SPOT HANABIでは花火大会が好きな人や<br>
   これから花火大会に行こうとしている人が<br>
   感想や情報を共有することができます</p>

<p>花火大会に行ったけど混雑していてなかなか花火が見られなかった...<br>
   車で来てみたら駐車場がいっぱいだった...<br>
   折り畳みの椅子やシートを持っていけばよかった...<br>
   せっかく花火大会に行ったのに楽しめなかったらもったいないですよね</p>

<p>ここでは花火大会に行ったユーザーが感想とともにおすすめの行き方や<br>
   持っていくといいものを共有することができます<br>
   またオススメの鑑賞SPOTをマップで表示し共有することもできます</p>

<p>（情報共有して花火大会を楽しみましょう！的な文言を入れる）</p>




