  <h4>本当に退会しますか？</h4>
    <div class="messages">
        <p>退会すると、会員登録情報や<br>
        これまでの投稿が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </p>
    </div>

    <%= link_to "退会しない", user_path(current_user.id), class: "glyphicon glyphicon-home btn btn-outline-secondary" %>
    <%= link_to "退会する", user_path(current_user.id), class: "destroy-user btn-outline-secondary btn-sm",method: :delete, data: {confirm: "本当に退会してもよろしいですか？"}%>