<h4>コメント<%= comments.count %>件</h4>
<% comments.each do |comment| %>
  <div>
    <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, format: 'jpeg', size:'60x60' %>
    <%= comment.content %>
    <% if comment.user == current_user %>
    <%= link_to '削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %>
    <% end %>
  </div>
<% end %>