<h4>会員一覧</h4>
<table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>プロフィール画像</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admins_user_path(user) , class: "entire-link-style"%></td>
              <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size:'40x40', fallback: "no-image.jpg" %></td>
              <td><%= user.email %></td>
              <td>
            　  <% if user.is_deleted? == false %>
                有効
                <% else %>
                退会済
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>