<h1>TOP</h1>

<% @posts.each do |post| %>
<h4><%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, format: 'jpeg', size:'60x60' %></h4>
<h4><%= post.user.name %>　さん</h4>
<h4>花火大会名</h4>
  <%= post.festival %>
  <h4>日付</h4>
  <%= post.date %>
<% end %>