<h4>こちらは管理者画面です</h4>

<div class="row-12">
    <div class="calendar col-xs-12">
      <%= month_calendar events: @events do |date, events| %>
	      <%= date.day %>
	      <% events.each do |event| %>
		    <div>
		      <%= link_to event.festival, admins_event_path(event), class: "calendar-link-style", data: {"turbolinks" => false} %>
		    </div>
          <% end %>
      <% end %>
    </div>
</div>
