/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "simple_calendar";
@import "bootstrap";

/*--------------共通--------------*/
.container {
}

.main {
	  margin-top: 200px;
    background: rgba(255,255,255,1);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.entire-link-style{
    color: #696969;
    font-size: 15px;
    text-decoration: none;
}
.entire-link-style:hover{
  color: #013662;
  text-decoration: none;
}

body {
	  background: #013662;
    color: #333300;
}

.location {
  font-size: 13px;
}

.profile_name {
  font-size: 13px;
}

.festival_name {
  font-size: 20px;
}

.create_time {
  font-size: 13px;
}

.btn {
  margin: 5px;
}

@media screen and (max-width:425px) {
.fire-img {
width:100%;
max-width: 100%;
height: auto;
}
}

@media screen and (max-width:1200px) {
.fire-img {
width:350px;
max-width: 100%;
height: auto;
}
}
/*-------------top--------------*/
.calender {
  width: 100%;
}
 #calendar-anc{
   padding-left: 50px;
   padding-top: 100px;
   margin-top: -90px;
 }

 .calendar-style {
   color: #666666;
   font-size: 14px;
   text-decoration: none;
 }

 #map-box{
   padding-left: 50px;
   padding-top: 100px;
   margin-top: -80px;
 }


.top-index {
  display: inline-block;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px
}

.top-index:after {
  content: "";
  display: block;
  max-width: 250px;
  height: 2px;
  border-radius: 2px;
  background: #fa8072;
}

 #map-container {
  padding-left: 100px;
 }

 .calendar-link-style {
  color: #333300;
  font-size: 15px;
 }
 .calendar-link-style:hover {
  color: #013662;
  text-decoration: none;
 }

 .top-image{
  margin: 0 auto;
  height: 400px;
  width :600px;
}
/*スライドショーの左右の画像を透過*/
.slick-slide:not(.slick-center){
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
  transition: 0.2s linear;
}
/*--------------header--------------*/

.navbar {
  background: #013662;
}

.title-content {
  /*background-image: image-url("title.png");*/
  /*background-size: contain;*/
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  width: 100px;
}

.search_results{
	list-style: none;
}

.navbar-toggler {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.link-style {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}

.link-style:hover{
  color:#ffffe0;
  text-decoration: none;
}

.admin-info {
  font-size: 12px;
  margin-top: 5px;
}

/*--------------user--------------*/
.img-circle {
  border-radius: 50%;
}

.intro-area {

}

.my-link {
  margin: 5px;
}

/*--総いいね数--*/
.fa-stack {
  color: #ff6347;
  font-size: 3em;  /* アイコン全体の大きさ */
}
.fa-stack-1x {
  font-size: 0.7em;
  color: #333300;
  font-family: monospace;
}

/*---------------post--------------*/
.post-block {
  background: white;
  box-shadow: 0 0 8px -4px #000;
  display: flex;
  border-radius: 5px;
  tbody{
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    td {
      padding: 5px 0;
    }
  }
}

.img_box {
  padding-top: 30px;
}

.impressions_content {
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 3px;
  padding:30px;
  margin-top: 5px;
}

.user-name {
  text-align: right;
}

.impressions_area {
   padding-top: 30px;

}

.impressions-field {
  word-wrap: break-word;
}

.impressions-box {
  min-height: 100px;
}

.like-style {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
}

.like-style:hover{
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.like-link {
  text-align:right
}

.impressions-item {
  color: #666666;
}

/*--------------footer--------------*/
.footer {
	  height: 200px;
    background-image: image-url("tokyo.jpg");
    background-position: 20% 15%;
    background-size: 220%;
}

.right-text {
  color: #666666;
  text-align: center;
  line-height: 150px;
  font-size: 12px;
}

/*--------------about--------------*/


#slideshow {
   position: relative;
   width: 1000px;
   height: 650px;
}
#slideshow img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
   width:  1000px;
   height: 650px;
}
#slideshow img.active {
   z-index: 10;  /*z-indexを一番大きくすることで一番上に表示される*/
   opacity: 1.0; /*完全に不透明*/
}
#slideshow img.last-active {
   z-index: 9;
}

.slideshow-box {
  width:    100%;
  margin:   0;
  padding:  0;
  position: relative; /* 相対位置指定 */
}

/*スライド上のタイトル部分*/
.about-title {
  width:    1000px;
  height: 35%;
  font-family: 'Josefin Sans', sans-serif;
  font-size:  60px;
  text-align: center;
  bottom:   4px;
  color:    #fff;
  position: absolute; top: 300px; /* 絶対位置指定 */
  z-index:10;
}

.about-index {
  display: inline-block;
  line-height: 1.5em;
  position: relative;
}

.about-index:after {
  content: "";
  margin: 0 auto;
  display: block;
  max-width: 300px;
  height: 2px;
  border-radius: 2px;
  background: #fa8072;
}

.about-box {
  text-align: center;
}

.about-content {
  margin-top: 80px;
}

.about-text {
  padding-top: 20px;
}
/*------users/post/show　投稿詳細------*/
#show_map {
  height: 250px;
  width: 300px;
  margin-top: 30px;
}

@media screen and (max-width:425px) {
  #show_map {
  width:100%;
  max-width: 100%;
  height: 100px;
  }
}

#logo {
  
}

