/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "simple_calendar";
@import "bootstrap";

/*------共通------*/
.container {
}

.main {
	  margin-top: 200px;
    background: rgba(255,255,255,1);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}

body {
	  background: #013662;
    color: #333300;
}

.location {
  font-size: 13px;
}

.profile_name {
  font-size: 13px;
}

.festival_name {
  font-size: 20px;
}

.create_time {
  font-size: 13px;
}

.btn {
  margin: 5px;
}
/*-----top------*/
.calender {
  width: 100%;
}

.show_img {
    height: 400px;
    width:  500px;
}

.show_area {
  margin : 0 auto;
}
/*------header------*/
.navbar {
  background: #013662;
}

.search_results{
	list-style: none;
}

.link-style {
  /*color: #000;*/
}
/*------user------*/
.img-circle {
  border-radius: 50%;
}

.intro-area {

}

.my-link {
  margin: 5px;
}



/*-------post-------*/
.post-block {
  margin: 0.5em;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
  display: flex;
  tbody{
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    td {
      padding: 4px 0;
    }
  }
}

.img_box {
  padding-top: 30px;
}

.impressions_area {
   padding-top: 30px;
}

/*.fire-img {*/
  /*border-radius: 5px*/
/*}*/

.show {
  text-align: center;
}


/*------footer------*/
.footer {
	  height: 200px;
    background-image: url("tokyo.jpg");
    background-position: 20% 15%;
    background-size: 220%;
}

/*------about------*/
